NEXT_PUBLIC_CLIENT_ID="rediss://default:AS46AAIjcDEyZTc5YmVlNDIzMjE0OGVkOTE3ZGUzNTc3YTljZTBjNHAxMA@ready-mudfish-11834.upstash.io:6379"
NEXT_PUBLIC_CLIENT_SECRET=

NEXT_PUBLIC_CLIENT_URL=http://localhost:3000

